<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        
        <title>Urban Sprawl</title>
        <div class="space-header"><h1>Urban Sprawl</h1></div>
    </head>

    <body>
        <div class="big-container">
            <span class="video">
                <iframe width="900" height="600" src="https://www.youtube.com/embed/XO_Qz8Gp7zk" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
            <span class="description">
                <p>urban sprawl, also called sprawl or suburban sprawl, the rapid expansion of the geographic extent of cities and towns, often characterized by low-density residential housing, 
                    single-use zoning, and increased reliance on the private automobile for transportation. Urban sprawl is caused in part by the need to accommodate a rising urban population; 
                    however, in many metropolitan areas it results from a desire for increased living space and other residential amenities. 
                    Urban sprawl has been correlated with increased energy use, pollution, and traffic congestion and a decline in community distinctiveness and cohesiveness.
                </p>
                <!-- https://www.britannica.com/topic/urban-sprawl-->
            </span>
        </div>
        <div class="button-section">
            <div class="button-title">
                <h2>Compile the solution to Urban Sprawl</h2>   
            </div>
            <div class="button-container">
                <form action="loading.html">
                    <button class="main-button">Button</button>
                </form>
            </div>
        </div>
    </body>
</html>